* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* scrollbar-color: white green;
  scrollbar-width: thin; */
}
/* ----------NAVBAR----------- */
.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  transition: all 0.1s ease-in;
}
.navbar:hover {
  border-bottom: solid 1px #bf9052;
  background-color: rgba(64, 64, 64, 0.6);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 0 0.2rem;
  margin: 0 1rem;
  list-style: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar ul li h3 {
    display: none;
  }
}

.navbar li a {
  text-decoration: none;
  color: rgb(179, 177, 177);
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}
.navbar li h3 {
  color: white;
}
.navbar li a:hover {
  color: #bf9052;
  font-size: 17px;
  letter-spacing: 1px;
}
.navbar h1 {
  margin-top: 0.6%;
  cursor: pointer;
  caret-color: transparent;
}
.navbar h1 a {
  color: rgb(179, 177, 177);
}
.navbar h1 a:hover {
  color: rgb(255, 255, 255);
}

.channel-link i {
  color: red;
}

/* ----------DASHBOARD PAGE----------- */

.inputs {
  display: flex;
  flex-direction: column;
  caret-color: transparent;
}

.inputs .btn {
  background: rgba(47, 37, 6, 0.5);
}
.inputs .btn:hover {
  background: rgba(74, 59, 13, 0.5);
}
.inputs .btn:focus {
  background: rgba(47, 37, 6, 0.8);
}

.inputs input {
  width: 100%;
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #523928;
  font-size: 16px;
  outline: none;
  background: rgba(64, 64, 64, 0.2);
  color: grey;
}
.input:-webkit-autofill,
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  border: 1px solid #523928;
  -webkit-text-fill-color: grey;
  -webkit-box-shadow: 0 0 0px 1000px #01010195 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.inputs .input:focus {
  background: rgba(93, 83, 83, 0.4);
  caret-color: grey;
}

.inputs p {
  color: white;
  margin: 0;
}

.google-div {
  display: flex;
  flex-direction: column;
  border: none;
}

.google-button {
  background: url(./img/google3.png) no-repeat center center/cover;
  background-size: 43%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  height: 34.39px;
  /* padding: 7px; */
  margin: 10px;
}

/* GOOGLE  button */
.google-span {
  background-color: rgb(255, 255, 255);
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 34.39px;
  padding: 3px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border: none;
}
.span-g {
  color: #4286f5;
}
.span-o-red {
  color: #ea4235;
}
.span-o-yellow {
  color: #fabc05;
}
.span-l {
  color: #34a853;
}
.google-span:hover {
  letter-spacing: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 26px -2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 26px -2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 26px -2px rgba(255, 255, 255, 0.75);
}

.landing {
  position: relative;
  background: url("./img/8.jpg") no-repeat center center/cover;
  height: 100vh;
}

.overlay {
  background: radial-gradient(
    circle at center,
    rgb(0, 0, 0) 0%,
    transparent 70%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
}

.landing-inner {
  height: 100%;
  width: 80%;
  margin: auto; /* positioned center*/
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.landing-inner h1 {
  color: white;
  font-size: 5rem;
  caret-color: transparent;
}
.landing-inner h1 i {
  color: white;
}
.h-2 {
  display: none;
  color: white;
  font-size: 40px;
  /* border: 2px solid red;
  background-color: blue; */
  font-weight: 700;
  letter-spacing: 4px;
  width: 100%;
  padding: 10px;
  margin: 0 0 15px 25px;
}

.landing-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.wheel-icon {
  background: url("./img/9.png") no-repeat center center/cover;
  height: 65px;
  width: 65px;
  display: inline-block;
  color: white;
  margin-top: 20px;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
  caret-color: transparent;
}

.landing-title:hover .wheel-icon {
  rotate: 1turn;
}

.question {
  display: flex;
  padding: 10px;
  margin: auto;
}

.switch {
  color: rgb(129, 167, 208);
  padding-left: 10px;
}
.switch:hover {
  color: grey;
  cursor: pointer;
}

/* ----------LANDING PAGE----------- */

.container {
  background: url("./img/10.jpg") no-repeat center center/cover;
  /* background: linear-gradient(90deg, #ffffff, #adadad, #706f6f, #0d0c0c); */
  height: 100%; /*was 100vh*/
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.container p, /*temporary*/
h2 {
  color: white;
}

.inner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  padding-top: 70px;
}
.landing-content {
  margin: auto;
  justify-content: center;
  /* border: 2px solid red;
  background-color: #fbff00; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.infinite-scroll-component {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background-color: #bf9052; */
}
.infinite-scroll-component__outerdiv {
  /* background-color: #90a5f8; */
  height: 100%;
  width: 100%;
}

/* simulation */
.card-simulation {
  height: 200px;
  min-height: 200px;
  width: 300px;
  margin: 5px;
  border: 2px solid red;
  background-color: rgba(192, 151, 151, 0.518);
}
.card-simulation:nth-child(2n) {
  border: 2px solid green;
  background-color: #bdc9f85f;
}
.landing-cards {
  justify-content: center;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  background-color: #f84a4a;
  width: 70%;
  overflow: auto;
}
.landing-sidebar {
  width: 30%;
  border: 2px solid #0033ff;
  background-color: #34a853;
  height: 100%;
}

.landing-overlay {
  background: rgba(0, 0, 0, 0.668);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  overflow: auto;
  height: 100%;
  width: 100%;
  /* background-color: #827b76; */
  /* border: 3px solid rgb(200, 255, 0); */
  /* scrollbar-color: white green; */
  /* height: 800px; delete later, added extra */
}
::-webkit-scrollbar {
  background-color: transparent;
  scrollbar-width: none;
}

.cards-menu {
  display: flex;
  margin: auto;
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.end-message {
  /*message at the bottom of videos list*/
  background: rgba(255, 78, 78, 0.318);
  height: 30px;
  padding: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 200px;
  margin-bottom: 20px;
  margin: 20px 40%;
  /* border: 2px solid blue; */
  border-radius: 10px;
}

.menu-div {
  margin: auto;
  width: 100%;
}

.search-btn {
  background-color: rgba(133, 113, 113, 0.384);
  height: 100%;
  border-radius: 0 15px 15px 0;
  border: none;
  padding-right: 10px;
  color: grey;
  cursor: pointer;
  caret-color: transparent;
  margin-right: 10px;
}

.search {
  margin-left: 10px;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  padding: 10px;
  background-color: rgba(133, 113, 113, 0.384);
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  max-width: 1065px;
  /* transform: translateX(-3px); */
  /* border: 0.5px solid rgba(131, 130, 130, 0.639); */
  caret-color: transparent;
}

/* @media (max-width: 1119px) {
  .search {
    max-width: 695px;
  }
}
@media (max-width: 749px) {
  .search {
    max-width: 100%;
  }
} */

.search:focus {
  /* outline: 0.5px rgba(224, 212, 212, 0.384) solid; */
  background-color: rgba(133, 113, 113, 0.499);
  caret-color: white;
}
.search:focus + button {
  /* outline: 0.5px rgba(224, 212, 212, 0.384) solid; */
  background-color: rgba(133, 113, 113, 0.499);
}

.card {
  height: 250px;
  max-height: 250px;
  max-width: 350px;
  /* min-width: 350px; */
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  flex-basis: 30%;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  caret-color: transparent;
  color: rgb(194, 191, 191);
  /* border: 2px solid orange; */
  /* transform: translateX(4px); */
}
.card:hover {
  text-decoration: none;
  color: rgb(194, 191, 191);
}

.duration {
  position: relative;
  top: 85%;
  left: 85%;
  background-color: black;
  padding: 1px 3px 2px 3px;
  border-radius: 7px;
  transition: all 150ms ease-in-out;
  color: rgb(194, 191, 191);
}

.card-title {
  margin-top: 8px;
}

.card-info {
  display: flex;
}
.card-info p {
  margin-right: 15px;
  margin-top: 10px;
  color: grey;
  opacity: 0.8;
}

.thumbnail {
  height: 70%;
  max-height: 175px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 100ms ease-in;
  overflow: hidden;
}
.background {
  background: url("./img/2.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  transition: all 150ms ease-in-out;
  opacity: 0.9;
}
.background:hover {
  opacity: 1;
  transform: scale(1.05);
  border-radius: 10px;
}
.background:hover .duration {
  top: 83.1%;
  left: 83.1%;
  /* opacity: 0; */
}

@media (max-width: 1073px) {
  .card {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .card {
    flex-basis: 50%;
  }
}
@media (max-width: 555px) {
  .card {
    flex-basis: 100%;
  }
}

.spinner {
  height: 100vh;
  width: 100%;
  align-items: center;
  margin: auto;
  justify-content: center;
  text-align: center;
  background-color: rgba(240, 244, 235, 255);
}
.next-page-spinner {
  position: absolute;
  bottom: 0;
  margin: 0px 35%;
  height: 100px;
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.next-page-spinner img {
  width: 90%;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.spinner img {
  margin-top: 200px;
}

/* BIKES PAGE */

.bikes-page {
  display: flex;
  background: url("./img/13.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
}

.bikes-page-overflow {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8491771708683473) 0%,
    rgba(56, 56, 56, 0.65) 45%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

/* content container in 'bikes'page */
.bikes-content {
  width: 100%;
  height: 857px;
  position: absolute;
  top: 10%;
  left: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  height: 90%;
}

/* a card that shows selected bike content */
.bikes-main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
  margin: 0 10px;
}

/* intro text to the 'bikes' page */
.intro {
  position: absolute;
  top: 60px;
}

/* -------------------------Featured bike card (cards for selecting a bike on 'bikes' page)-------------------------------------*/

.container-featured {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-featured .card-featured {
  position: relative;
  width: 500px;
  height: 230px;
  padding: 15px;
  background: linear-gradient(60deg, #151516 0%, #1d2229 100%);
  overflow: hidden;
  margin: 0 15px 15px 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(91, 91, 91, 0.3);
  transition: 0.5s ease;
}

.container-featured .card-featured h2 {
  z-index: 99;
  position: absolute;
  bottom: 25px;
  right: 130px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  pointer-events: none;
  transition: 0.2s ease;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.container-featured .card-featured p {
  z-index: 99;
  position: absolute;
  bottom: 30px;
  right: 130px;
  width: 170px;
  color: #fff;
  opacity: 0;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.2s ease;
}

.container-featured .card-featured span {
  z-index: 99;
  position: absolute;
  bottom: 90px;
  right: 35px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  transition: 0.2s ease;
  opacity: 0.7;
}

.container-featured .card-featured .pic {
  z-index: 100;
  width: 84%;
  height: 170px;
  background-image: url(./img/dt.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.container-featured .card-featured button {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: #4c80fa;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  opacity: 1;
  transition: 0.3s ease;
}

.container-featured .card-featured:hover {
  box-shadow: 0 0 25px rgb(255, 247, 21);
}
.container-featured .card2:hover {
  box-shadow: 0 0 25px rgb(255, 134, 13);
}
.container-featured .card3:hover {
  box-shadow: 0 0 25px rgb(56, 75, 250);
}
.container-featured .card4:hover {
  box-shadow: 0 0 25px rgb(255, 18, 18);
}

.container-featured .card-featured:hover button {
  transform: scale(16.5);
  opacity: 0.5;
}

.container-featured .card-featured:hover h2 {
  bottom: 80px;
  right: 40px;
}
.container-featured .card3:hover h2 {
  bottom: 80px;
  right: 67px;
}

.container-featured .card-featured:hover p {
  opacity: 1;
  right: 60px;
}

.container-featured .card-featured:hover span {
  opacity: 0;
  top: 80px;
}

.container-featured .card-featured:hover .pic {
  filter: grayscale(0);
  width: 470px;
}

.container-featured .card2 .pic {
  background-image: url(./img/ktm.jpeg);
  transition: 0.3s ease;
}

.container-featured .card2 button {
  background-color: #ff6f00;
}
.container-featured .card3 .pic {
  background-image: url(./img/yz.jpg);
  transition: 0.3s ease;
}

.container-featured .card3 button {
  background-color: #0033ff;
}
.container-featured .card4 .pic {
  background-image: url(./img/cr.jpg);
  transition: 0.3s ease;
}

.container-featured .card4 button {
  background-color: #ff1313;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* Bikes Card (a selected bike card and included photos)*/

.bike-card-container {
  /*a container for everything in the card */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  height: 100%; /* maybe remove if needed */
}

.images-list {
  /*horizontally scrollable list of images */
  display: flex;
  background: rgba(255, 116, 116, 0.2);
  border: 2px solid rgb(30, 255, 0);
  border-radius: 10px;
  height: 100%;
  width: 99%;
  min-height: 160px;
  /* max-height: 170px; */
  margin: 20px 10px 15px 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  -ms-flex-align: center;
}
.images-list::-webkit-scrollbar {
  display: none;
}
.bike-photo {
  display: flex;
  flex-direction: column;
  height: 75%;
  /* border: 3px solid blue; */
}

.image-card {
  flex: 0 0 auto;
  height: 150px;
  width: 170px;
  overflow: hidden;
  margin: 7px;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid rgb(44, 43, 43);
  cursor: pointer;
  /* margin-left: 100px; */
}
.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bike-card {
  /*bigger image of selected image form scrollable list */
  box-shadow: 0px 0px 123px 39px rgba(255, 123, 0, 0.75);
  border: 10px inset #827b76;
  height: 600px;
  width: 90%;
  border-radius: 200px 20px;
  overflow: hidden;
}

@media (max-width: 1340px) {
  .bike-card {
    height: 500px;
    width: 100%;
  }
  .container-featured .card-featured {
    width: 350px;
  }
  .container-featured .card-featured h2 {
    right: 100px;
    top: 60px;
  }
  .image-card {
    height: 90%;
    width: 250px;
  }
}
@media (max-width: 1150px) {
  .image-card {
    height: 150px;
    width: 170px;
  }
  .bike-card {
    height: 400px;
    width: 100%;
  }
  .images-list {
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .image-card {
    margin: 3px;
  }
}
@media (max-width: 1000px) {
  .featured-bike {
    display: none;
  }
  .bikes-main {
    width: 100%;
  }
  .bike-card {
    height: 600px;
    width: 100%;
  }
  .images-list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 630px) {
  .inner-container {
    padding-top: 10px;
  }
  .navbar {
    display: none;
  }
  .landing-title {
    width: 80%;
  }
  .wheel-icon {
    display: none;
  }
  .h-1 {
    display: none;
  }
  .h-2 {
    display: block;
  }
  .bike-card {
    height: 85%;
    width: 95%;
    border-radius: 90px 10px;
  }
  .bike-photo {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: center;
    /* margin: auto; */
    align-items: center;
  }
  .images-list {
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 500px) {
  .h-2 {
    margin: 0;
    font-size: 30px;
  }
  .landing-title {
    margin-left: 20px;
  }
  .images-list {
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto;
  }
  .image-card {
    width: 96%;
    margin: 7px;
    height: 215px;
  }
}
@media (max-width: 360px) {
  .h-2 {
    font-size: 29px;
  }
  .landing-title {
    margin-left: 20px;
  }

  .images-list {
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto;
  }
}

@media (max-width: 950px) and (orientation: landscape) {
  .landing-title {
    display: none;
  }
  .bikes-content {
    top: 0.5%;
    height: 99.5%;
  }
  .bike-card {
    height: 370px;
    width: 95%;
    border-radius: 80px 20px;
  }
  .bike-photo {
    height: 95%;
  }
  .bike-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    height: 100%;
    width: 100%;
  }
  .images-list {
    width: 30%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    margin: 0;
  }
  .navbar {
    display: none;
  }
}
@media (max-height: 450px) and (max-width: 1000px) and (orientation: landscape) {
  .cards {
    display: flex;
    flex-direction: row;
  }
  .duration {
    top: 82%;
    left: 80%;
  }
  .background:hover .duration {
    top: 80.1%;
    left: 78.1%;
    /* opacity: 0; */
  }
  .card {
    justify-content: flex-start;
    max-width: 98%;
    height: 150px;
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    transform: translateX(6px);
  }
  .link-div {
    width: 100%;
  }
  .thumbnail {
    margin-right: 20px;
    width: 37%;
    height: 100%;
  }

  .card-title {
    margin: 0;
  }
  .inner-container {
    padding-top: 10px;
  }
  .infinite-scroll-component__outerdiv {
    width: 99%;
  }

  .infinite-scroll-component {
    display: flex;
    flex-direction: row;
  }
  .bikes-content {
    height: 100%;
    top: 0;
  }
  .bike-card-container {
    padding: 0;
  }
}

.bike-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bike-title {
  /* position: absolute;
  top: 690px;
  left: 570px; */
  margin-top: 2px;
  text-align: left;
  width: 100%;
  /* margin-left: 120px; */
}
